.card-complete{
    main{
        background-color: $color-back-main;
        section{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}