aside{
    img{
        width: 90px;
        height: 90px;
        border-radius: 50%;
    }
    figure{
        margin: 30px 0px;
        display: flex;
        align-items: center;
        color: $color-back-main;
        font-weight: bold;
    }
    .caption-user{
        display: flex;
        flex-direction: column;
        padding-left: 20px;
    }
}