$color-back: #d4dae6;

$color-back-main: #e0e0ea;

$color-back-right: #ea7a90;

$color-font-right: #faabb3;

$color-cards: #f3f4f8;

$color-description: #97969d;

$font-principal: 'Nunito Sans', sans-serif;